# Core settings
PROXY_LISTEN_IP=0.0.0.0 # IP address the proxy listens on. Must be 0.0.0.0 for Docker Compose
PROXY_LISTEN_PORT=8787 # Port the proxy listens on
UDP_RELAY_HOST= # IP address or hostname used for UDP connections
TLS_CERT_FILE= # Path to the certificate file inside the Docker container. Leave empty to use a self-signed certificate from the default location.
TLS_KEY_FILE= # Path to the private key file inside the Docker container. Leave empty to use a self-signed key from the default location.
CERTS_DIR=./proxy/test-certs # Host directory to mount into the Docker container. Don't use test certificates in production!!!

WORKER_TOKEN=123 # Token for authentication
BROKER_CONNECT_HOST=broker # Hostname or IP address used to connect to the broker
BROKER_PORT=8899 # Port used by the broker for listening and by clients for connections
PROXY_TOKEN=321 # Token for authentication
RANDOM_ENDPOINT_SECRET=secret-path # Secret used to obscure the WebSocket endpoint path
LOG_LEVEL=debug # Log level for the proxy and broker: debug, warn, error

DEFAULT_GROUP_NAME=direct # Default routing group
DOMAINS_REDIS_KEY=routes:domains # Redis key for domain-based routes
CIDRS_REDIS_KEY=routes:cidr # Redis key for CIDR-based routes
DEFAULT_ROUTE_REDIS_KEY=routes:default # Redis key for the default route

# Admin (Django-based)

DEBUG=True # Must be false in production
DJANGO_SECRET_KEY=super-secret-test-key # Generate for production: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_ALLOWED_HOSTS=* # Set real domains in production: example.com, api.example.com, etc.
DJANGO_SHOW_SWAGGER=True # Set to false in production
DJANGO_STATIC_ROOT=/data/static/ # Path to the static files directory
DJANGO_CSRF_TRUSTED_ORIGINS=https://* # Set real origins in production

# PostgreSQL

POSTGRES_HOST=proxy_postgres # PostgreSQL hostname or IP address
POSTGRES_PORT=5432 # PostgreSQL port
POSTGRES_DB=proxy # PostgreSQL database name
POSTGRES_USER=proxy # PostgreSQL username
POSTGRES_PASSWORD=proxy-pwd # PostgreSQL password
POSTGRES_VOLUME=proxy_postgres_data # Docker volume for PostgreSQL data

# Redis

REDIS_HOST=proxy_redis # Redis hostname or IP address
REDIS_PORT=6379 # Redis port
REDIS_DB=0 # Redis database number
REDIS_PASSWORD=some-secret # Redis password
REDIS_VOLUME=proxy_redis_data # Docker volume for Redis data

# Admin Frontend

FRONT_PORT=5555 # Admin frontend port
