# Proxy

LISTEN_ADDR=
PROXY_PORT=
UDP_RELAY_HOST=
TLS_CERT_FILE=
TLS_KEY_FILE=
CERTS_DIR=

# Broker

BROKER_PORT=
WORKER_TOKEN=

# Shared: Proxy + Broker

PROXY_TOKEN=
BROKER_ADDR=
RANDOM_ENDPOINT_SECRET=

# Shared: Proxy + Broker + Admin

DATABASE_URL=
LOG_LEVEL=

# Shared: Proxy + Admin

REDIS_URL=
DEFAULT_GROUP_NAME=direct
DOMAINS_REDIS_KEY=routes:domains
CIDRS_REDIS_KEY=routes:cidr
DEFAULT_ROUTE_REDIS_KEY=routes:default

# Admin

DEBUG=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_SHOW_SWAGGER=
DJANGO_STATIC_ROOT=
DJANGO_CSRF_TRUSTED_ORIGINS=

# PostgreSQL

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_VOLUME=

# Redis

REDIS_PORT=6379
REDIS_VOLUME=

# Admin Frontend

FRONT_PORT=
