# WORKER ENV VARS
# Random generated worker GUID. Unique for each worker.
WORKER_GUID=f45765ea-1240-4648-b681-80c888015c76

# Authorization token for broker
WORKER_TOKEN=change-me-worker-token

# Broker connect address
BROKER_ADDR=ws://broker:8899

# Secret used to obscure the WebSocket endpoint path.
RANDOM_ENDPOINT_SECRET=change-me-endpoint-secret

# Log level: debug, info, warn, error.
LOG_LEVEL=debug
